@import "./theme.css";

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-text);
  background: var(--color-bg);
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.3px;
}

p {
  margin: 0;
}
